<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trudy l'AlphaBot</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  </head>
  <body>
    <div id = "header_top"><h1>TRUDY L'ALPHABOT!</h1></div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/img1.png" class="d-block w-100" alt="1">
        </div>
        <div class="carousel-item">
          <img src="/static/img/img2.png" class="d-block w-100" alt="2">
        </div>
        <div class="carousel-item">
          <img src="/static/img/img3.png" class="d-block w-100" alt="3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <div id="login">
      <h2 style="padding-bottom: 20px;">LOGIN</h2>
    <form action="" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" id="username" name="username" value = "{{request.form.username}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"  value = "{{request.form.password}}">
          </div>

          {% if error %}
              <p class="error"><strong>Error: </strong></p> {{ error }}
          {% endif %}

          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </body>
</html>
