#header_top{
    background-color: rgba(20, 142, 213, 0.808);
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}